#login {
    .header {
        #logo-group {
            width: 221px;
            #logo {
                margin-top: 22px;
                margin-left: 0;
                img {
                    width: 221px;                    
                    padding-top: 22px;
                    padding-bottom: 22px;
                }
            }
        }
        
    }
}