<aside id="left-menu">

  <nav>

    <ul appMenu>
      <li>
        <a title="Dashboard">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">CMS</span>
        </a>
        <ul>
          <li>
            <a href=''>Pages</a>
          </li>
          <li>
            <a href=''>Discount Codes</a>
          </li>
        </ul>
      </li>

      <li>
        <a title="graphs">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">Information Requests</span>
        </a>
        <ul>
          <li>
            <a href=''>General Enquiry</a>
          </li>
          <li>
            <a href=''>Payment Query</a>
          </li>
          <li>
            <a href=''>Complaint</a>
          </li>
        </ul>
      </li>

      <li>
        <a title="graphs">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">Administration</span>
        </a>
        <ul>
          <li>
            <a href=''>Administrators</a>
          </li>
          <li>
            <a href=''>Companies</a>
          </li>
          <li>
            <a href=''>Airport</a>
          </li>
          <li>
            <a href=''>Define Prices</a>
          </li>
          <li>
            <a href=''>Assign Months to Prices</a>
          </li>
          <li>
            <a href=''>Booking List</a>
          </li>
          <li>
            <a href=''>Add Booking</a>
          </li>
          <li>
            <a href=''>Email Setting</a>
          </li>
          <li>
            <a href=''>Report</a>
          </li>
          <li>
            <a href=''>Accountant Report</a>
          </li>
          <li>
            <a href=''>Testimonials</a>
          </li>
          <li>
            <a href=''>News Letter Email Templates</a>
          </li>
          <li>
            <a href=''>Send Emails</a>
          </li>
          <li>
            <a href=''>Incomplete Bookings</a>
          </li>
          <li>
            <a href=''>Assign companies to admin</a>
          </li>
          <li>
            <a href=''>Admin Reports</a>
          </li>
          <li>
            <a href=''>Assigned Admin Reports</a>
          </li>
          <li>
            <a href=''>Popup Settings</a>
          </li>
          <li>
            <a href=''>PPC Discount Code Settings</a>
          </li>
          <li>
            <a href=''>PPC Airport Values</a>
          </li>
          <li>
            <a href=''>PPC Seo Report</a>
          </li>
          <li>
            <a href=''>Third party bookings</a>
          </li>
        </ul>
      </li>

      <li>
        <a title="Dashboard">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">SEO</span>
        </a>
        <ul>
          <li>
            <a href=''>SEO Detail</a>
          </li>
        </ul>
      </li>

      <li>
        <a title="Dashboard">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">Off Days</span>
        </a>
        <ul>
          <li>
            <a href=''>Off Days Management</a>
          </li>
        </ul>
      </li>

      <li>
        <a title="Dashboard">
          <i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">Mobit App</span>
        </a>
        <ul>
          <li>
            <a href=''>Tour</a>
          </li>
          <li>
            <a href=''>Fee Configuration</a>
          </li>
        </ul>
      </li>
    </ul>

  </nav>


</aside>